easydict==1.11
einops==0.8.0
packaging
ftfy==6.2.0
mamba_ssm==1.1.3.post1
causal-conv1d==1.1.3.post1
numpy==1.23.5
opencv_python==4.7.0.72
pandas==1.2.4
Pillow==10.4.0
PyYAML==6.0.1
resampy==0.4.2
soundfile==0.12.1
timm==0.9.12
tqdm==4.65.0
